name: Daily Check-in

on:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  prune_artifacts:
    name: Delete Past Artifacts
    runs-on: ubuntu-latest

    steps:
    - name: Remove Artifacts of Previous Jobs
      uses: c-hive/gha-remove-artifacts@v1
      with:
        age: '3 days'

  fetch:
    name: Get Latest DigitalOcean API Variables
    runs-on: ubuntu-latest

    steps:
    - name: Clone Repository
      uses: actions/checkout@v2
      with:
        ref: ci

    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: '10.x'

    - name: Setup `node-fetch`
      run: npm install node-fetch --loglevel error

    - name: Fetch Variables
      run: node main.js
      env:
        DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: output
        path: output/


  fmt:
    name: Prettify Output Files
    needs: fetch
    runs-on: ubuntu-latest

    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v1
      with:
        name: output
    - name: Reformat Output with Terraform
      uses: hashicorp/terraform-github-actions@master
      with:
        tf_actions_version: 0.14.7
        tf_actions_subcommand: 'fmt'
        tf_actions_fmt_write: true
    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: output
        path: output/

  deploy:
    name: Deploy Output to Master
    needs: fmt
    runs-on: ubuntu-latest

    steps:
    - name: Clone Repository
      uses: actions/checkout@v2
      with:
        ref: master
    
    - name: Download Artifacts
      uses: actions/download-artifact@v1
      with:
        name: output
        
    - name: Keep Workflow
      run: |
        mkdir --parents ./output/.github/workflows; cp .github/workflows/daily.yml $_
        ls -Ra

#    - name: Deploy to Master
#      uses: peaceiris/actions-gh-pages@v3
#      with:
#        github_token: ${{ secrets.GITHUB_TOKEN }}
#        publish_branch: master
#        publish_dir: output
#        keep_files: true
#        enable_jekyll: true
#        user_name: Github Actions [BOT]
#        user_email: github-actions[bot]@users.noreply.github.com
#        commit_message: Deploy sergeykuzmich/terraform-digitalocean-variables
